.head{
	--ion-background-color:#0c0b0b;
}

.cont{
	--ion-background-color: #1a1818;
}

.cardd{
	--ion-background-color: #100e13;

}

.tituloTop{
	text-align: center;
	color: rgb(15, 84, 214);
	text-shadow: 1px 1px 1px rgb(2, 29, 80);
}


.subtituloTop{
	text-align: center;
	color:rgb(48, 71, 197);
}

.nombreCancion{
	font-size: x-small;
	color: rgb(115, 127, 236);
}

.nombreCancion:hover{
	color:chocolate;
}

.btnReproducir{
	margin: 0px;
	color: rgb(46, 175, 63);
	padding: 0px;
}

.itemLista{
	border-bottom: 0px;
	--ion-item-border-color:var(--ion-background-color);
}



.btnReproducir:hover{
	color:rgb(241, 87, 15);
}

.carddRR{
	background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(/assets/elec.jpg);
	max-width: 100%;
}