.i{
	--ion-background-color:#0c0b0b;
}

.cont{
	--ion-background-color: #1a1818;
}

.cardForm{
	background-color: rgb(194, 189, 189);
}


.itemForm{
 	--ion-background-color: rgb(194, 189, 189);
}

.comboEstilo{
	--ion-background-color: blue;
}